body {

    h2 {
        box-shadow: 1px 1px 5px;
        margin-top: 10px;
        margin-bottom: 30px;
        
    }

    section {
        div {
            p {
                @extend %probandoExtend;
                margin-top: 50px;
            }
        }
    }
}