body {

    section {
        div {
            margin-top: 30px;
        }
        ul {
            color: black;
            text-align: center;
            font-size: 20px;
            padding: 20px;

            li {
                border-radius: 10px;
                list-style-type: none;

            }
        }
    }
}